 /*styles for my resume *//
/* entirety of the text */
body {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 1em;
  color: #444;
}
/* my name */
strong{
  color:#33485e;
  font-size:1.5em;
  color: #33485e;


}
/* my name, just in the title */
h1 {
  font-size:3em;
  color: #33485e;
  text-align: center;
  text-transform: uppercase;

}
/* section titles */
h2{
font-size:1.5em;
color: #FFF;
font-weight: 400;
text-transform: uppercase;
background-color: #33485e;

}
/* job title */
h3{
  font-weight:600;
  font-size:1.5em;
}
/* job location */
h4{
  font-weight: 400;
  font-size:1.5em;
}
/*dates*/
h5{
  font-weight:400;
  font-size:1em;
  font-style: italic;
}
/*contact info and other jazz */
ui{
font-size: 1em;
}
